<!DOCTYPE html>
<html>
  <head>
    <title>EcranVillagePlannings</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width">
  </head>

  <body>
    <%= render "layouts/nav" %>
    <%= render "layouts/connexion" %>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="error"><%= flash[:error] %></p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
