</center>
<div class="container">

  <center><h1><strong>Liste des utilisateurs</strong></h1></center>
  <br>
  <div class="container">
  <div class="actions hidden-xs">
 </div>
  <div class="row">
    <div class="col-md-12 table-croped">
      <table class="table table-responsive table-hover table-striped">
        <thead>
          <tr>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Modifier</th>
            <th>Role (permissions)</th>
            <th>Editer ou supprimer</th>
          </tr>
        </thead>
      <% @users.users_alphabet.each do |user| %>
        <tbody>
          <tr>
              <td><%= user.prenom.capitalize %></td>
              <td><%= user.nom.capitalize %></td>
              <td><%= user.email %></td>
              <td><%= user.telephone %></td>
              <td></td>
               <td class="info"><%= user.role %></td>
               <td class="danger"><span class="glyphicon glyphicon-trash"></span> <%= link_to 'Supprimer', user, method: :delete, data: { confirm: 'En êtes vous sûr ?'}, :class => "btn btn-danger" %> <br>
               <span class="glyphicon glyphicon-pencil"> </span> <%= link_to 'Editer', edit_user_path(user), data: { confirm: 'En êtes-vous sûr ?' }, :class => "btn btn-warning" %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<% end %>