<p id="notice"><%= flash[:notice] %></p>
<%= form_tag sessions_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email, 'Votre email' %><br />
    <%= email_field_tag :email, nil, required: true %>
  </div>
  <div class="field">
    <%= label_tag :password, 'Votre mot de passe' %><br />
    <%= password_field_tag :password, nil, required: true %>
  </div>
  <div class="actions">
    <%= submit_tag "Se connecter", :class => "btn btn-lg btn-warning" %>
  </div>
<% end %>